section-blog pag {
}

section-newsleeter {
background-color: #FFF0D9;
display: flex;
justify-content: space-around;
border-radius: 1px;
}

.card{
 text-align: center;
 margin: ;
}

.card2{
justify-content: flex-end;
padding: ;

.h2{
    text-align: center;

}
}
.btn{
background-color: orangered;
color: white;
}
form{
    background-color: #FFF0D9 ;
}
#email {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    margin: 5px 0;
}