main {
    section-blog pag {

    }

section-newsleeter {
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    border-radius: 1px;
}

.card{
     text-align: center;
     margin: ;
 }

 .card2{
    justify-content: flex-end;
    padding: ;

}

